.wrap {
    background-color: #bfeff9;
    padding: 9px 0 9px 0;
    position: fixed;
    width: 1140px;
    z-index: 9;
}
.wrap-icon{
    padding: 9px 0 9px 0;
    color: black;
    font-size: 18px;
}
.wrapcontent{
    color: black;
    font-size: 18px;
}
.star-red{
    color: red;
}
fieldset{
    border-radius: 5px;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    margin: 0 0 20px 0;
}
legend{
    font-weight: 600;
    width:inherit;
    padding:0 10px;
    border-bottom:none;
}
.wrap-mail{
    margin: 0  0  0 -13px;
}
input.ip-fieldset{
    margin: 0 0 0 0 ;
    width: 729px;
}
svg.icon-fieldset{
    margin: 0 0 0 23px;
}
.radio-title{
    padding: 0 0 0 38px;
}
.header-modal{
    background-color: #bfeff9;
}
.modal-textbox{
    margin: 15px 0 15px -14px;
}
.modal-button{
    margin: 15px 0 15px 0;
}
.button-after{
    margin: 0 0 0 -35px;
}
thead.table-head{
    background-color: #bfeff9;
}
.button-plus{
    margin: 0 0 0 -35px;
    padding: 0 6px 0 5px;
    float: right;
}
.col-table-head{
    width: 220px;
}
th.last{
    width: 99px;
}
div.table-mail{
    overflow-y:auto;
    height: 200px
}
tbody.overfollow-body{
    overflow-x: auto;
    height: 200px;
}
.modal-list-wrap{
    height: 100px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
